*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size:1.25rem;
}
.header{
    border-bottom:1px solid rgb(212, 208, 208);
}
.navbar-brand{
    width:90px;
    height: 60px;
}